@charset "UTF-8";
/* ---- top.jsp ---- */
#member_area {
	text-align: right;
	margin-bottom: 20px;
}

/* ---- bottom.jsp ---- */
#footer_area {
	text-align: center;
	margin-top: 20px;
}

/* --------------------------- 공통 -------------------------- */
/* 모든 하이퍼링크 밑줄 제거 */
a {
	text-decoration: none;
}

article h1, h3 {
	text-align: center;
	text-decoration: none;
}

article table {
	margin: auto;
}

.td_center {
	text-align: center;	
}

#commandCell {
	text-align: center;	
	margin-top: 10px;
}





